{% extends 'layout.html.twig' %}

{% block content %}
    <article class="row" id="">
        <h2 class="col-sm-12"><span class="fa fa-book"></span> A gdyby tak uprościć ortografię...?</h2>
        <div class="col-sm-12">
            <p class="lead">
                Któż z nas nigdy nie narzekał, jaka to ortografia jest trudna i&nbsp;niepotrzebna?
                W 1921 roku futuryści postanowili coś z&nbsp;nią zrobić i&nbsp;stworzyli coś, co uznali za pisownię <em>jedyńe słuszną, uzasadńoną i&nbsp;wygodną</em>.
                Czemu ich propozycja przeszła bez większego echa? Cóż, zobaczcie jak <em>ortografja fonetyczna</em> działa w praktyce:
            </p>
        </div>
    </article>
    <article class="row" id="generator">
        <h2 class="col-sm-12"><span class="fa fa-gears"></span> Generator</h2>
        <div id="generator-spinner" style="display: none"><span class="fa fa-spinner fa-spin"></span></div>
        <div class="col-sm-5">
            <textarea id="input" class="form-control" placeholder="Wklej tu lub wpisz dowolny tekst pisany poprawną polszczyzną"></textarea>
        </div>
        <div class="col-sm-2 buttons">
            <div class="vertical-center">
                <button id="generate" class="btn btn-primary btn-lg btn-block"><span class="fa fa-gears"></span> Generuj <span class="fa fa-long-arrow-right hidden-sm hidden-xs"></span></button>
                <button id="random-text" class="btn btn-info btn-xs btn-block"><span class="fa fa-random"></span> Nie mam weny,<br/>wylosuj mi jakiś tekst</button>
            </div>
        </div>
        <div class="col-sm-5">
            <textarea id="output" class="form-control" placeholder=""></textarea>
        </div>
    </article>
    <div class="row">
        <form class="col-lg-6 article" action="{{ route('webGenerate') }}" method="get" target="_blank">
            <h2><span class="fa fa-globe"></span> Sfuturyzuj stronę internetową <small><em>(beta)</em></small></h2>
            <div class="mT">
                <div class="input-group">
                    <input type="text" name="url" class="form-control" placeholder="http://" value="http://piekielni.pl"/>
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><span class="fa fa-globe"></span>  Do dźeła!</button>
                </span>
                </div>
            </div>
        </form>
        <div class="col-lg-6 article">
            <h2><span class="fa fa-clock-o"></span> Futurystyczny zegar</h2>
            <h4 class="text-center mT well">
                Jest <span id="clock">{{ clock }}</span>
            </h4>
        </div>
    </div>
    <article class="row" id="manifest">
        <h2 class="col-sm-12"><span class="fa fa-file-text"></span> Mańifest w sprawie ortografji fonetycznej</h2>
        <div role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#manifest-text" aria-controls="manifest-text" role="tab" data-toggle="tab"><span class="fa fa-file-text-o"></span> Tekst</a></li>
                <li role="presentation"><a href="#manifest-scan" aria-controls="manifest-scan" role="tab" data-toggle="tab"><span class="fa fa-file-image-o"></span> Skan oryginału</a></li>
                <li role="presentation"><a href="https://polona.pl/item/610869/0/" target="_blank"><span class="fa fa-newspaper-o"></span> Cała <em>Jednodńiówka</em></a></li>
                <li class="disabled pull-right" role="presentation"><a>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/PD-icon.svg/220px-PD-icon.svg.png" height="12px"/>
                        Domena publiczna
                    </a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="manifest-text">
                    <div class="col-sm-6">
                        <p>1. Wyhodząc z założeńa, że mowa ludzka jest kompleksem pewnej skali dźwiękuw, połączonyh ze sobą i twożącyh w ten sposub dźwięki złożone o pewnym umuwionym znaczeńu – słowa, za najważńejsze zadańe pisowńi każdej rozumimy jaknajdoskonalsze oddańe za pomocą zankuw symbolicznyh (liter) znakuw orgańicznyh (dźwiękuw). Idealną pisowńą zatem będźe pisowńa z gruntu prosta i śćiśle fonetyczna. Wszystko co pszesłańa ten cel lub mu bezpośredńo ńe służy jest tem samem ńepotszebne, obćążające i szkodliwe.</p>
                        <p>2. Z drugiej strony zadańem i celem każdego pisma jest za pomocą jaknajmńejszej ilośći umuwionyh znakuw odtwożyć jaknajwiększą ilość dźwiękuw-słuw i dźwiękuw zdań. Dlatego tu, jak i w każdej innej dźedźińe proporcjonalńe do rozszeżeńa materjału pisowńa w swoim rozwoju zdążać muśi świadomie i konsekwentńe do jaknajwiększej syntetyzacji i skrutuw. Ideałem każdego pisma jest stenografja.</p>
                        <p>Opierając śę na tyh dwuh zasadńiczyh pszesłankah, kture uważamy za słuszne i jedyne, zastosowując je do obecnej ortografji polskiej i ńe cofając śę pszed wyprowadzeńem z ńih wszystkih konsekwencji —<br/>ogłaszamy:</p>
                        <p>3. <strong>Absurdem jest dla wyrażeńa jednego i tego samego dźwięku używańe 2 rużnyh znakuw (liter).</strong> Dlatego skreślamy raz na zawsze z alfabetu polskiego jako zbyteczne litery <strong>ó</strong> i <strong>rz</strong>, pońeważ w wymawiańu ńe rużńą śę ńiczem od liter <strong>u</strong> i <strong>ż</strong> lub <strong>sz</strong> i bez szkody dadzą śę pszez ńe zastąpić. Bardźej skomplikowańe pszedstawia śę sprawa z literami <strong>ch</strong> i <strong>h</strong>, w kturyh wymawiańu fonetycznym zahodźi żeczywiśće pewna bardzo subtelna rużńica. Pońeważ jednak wyrażańe jednego dźwięku dwoma ńic ze sobą wspulnego ńe mającymi znakami (c i h), kturyh połączeńe w żadnym raźe ńe daje takiego dźwięku <strong>h</strong> za jaki go wymawiamy, jest w zasadźe absurdem, pszeto i w danym wypadku połączeńe liter <strong>ch</strong> z alfabetu polskiego wykreślamy. Dla zaznaczeńa tyh subtelnyh rużńic można z czasem nad zasadńiczą literą <strong>h</strong> stawiać jakiś umuwiony znak. Ńe wprowadzamy tego, pońeważ naraźe powstszymujemy śę od twożeńa jakihkolwiek nowyh liter. Zadańem tej reformy elementarnej jest jedyńe oczyszczeńe pisowni polskiej z całego balastu znakuw zbędnyh, a tem samem szkodliwyh.</p>
                        <p>Dlatego pozostawiamy po dawnemu połączeńa liter <strong>sz, cz</strong> (także <strong>dz, dź</strong>), pońeważ dla oznaczeńa dźwiękuw <strong>sza</strong> i <strong>cze</strong> alfabet polski innyh znakuw ńe pośada. Można by je zastąpić na wzur alfabetu czeskiego umuwionymi znakami nad literami <strong>s</strong> i <strong>c</strong>, od czego śę jednak powstszymujemy, pońeważ zamieńańe jednyh liter drugimi ńe jest naraźe naszym zadańem. Uważamy więc poprostu znaki <strong>sz</strong> i <strong>cz</strong> (także <strong>dz</strong> i <strong>dź</strong>) za nowe złożone litery, powstałe z połączeńa dwuh liter dawnyh i nazywamy je literami <strong>sza</strong> i <strong>cze</strong>.</p>
                    </div>
                    <div class="col-sm-6">
                        <p>4. <strong>Absurdem jest pośadając już w alfabeće umuwiony znak na wyrażeńe danego dźwięku w pewnych ńeuzasadńonyh wypadkah zamieńać go dwoma innymi znakami, ńe dającymi wcale w sumie tego dźwięku.</strong></p>
                        <p>Skoro alfabet polski pośada litery symbolizujące dźwięki miękkie <strong>ń, ć, ś, ź</strong> – nonsensem jest używańe pszed samogłoskami zamiast tyh liter absolutńe ńe pokrywającyh ih <strong>ni, ci, si, zi</strong> (<strong>sieć</strong> zamiast <strong>śeć</strong>; <strong>nie</strong> zamiast <strong>ńe</strong>; <strong>cień</strong> zamiast <strong>ćeń</strong>; <strong>ziele</strong> zamiast <strong>źele</strong>).</p>
                        <p>Ruwńeż używańe liter twardyh (n, s, c, z) tam gdźe wyraźńe słyszy śę miękkie (ń, ś, ć, ź) jest nonsensem i podlega usuńęću, (<strong>sito</strong> zamiast <strong>śito</strong>; <strong>cisza</strong> zamiast <strong>ćisza</strong>; <strong>zimno</strong> zamiast <strong>źimno</strong>).</p>
                        <p>Tam gdźe alfabet polski odpowiednih zmiękczeń ńe pośada pozostawiamy naraźe sposub pisańa stary. Z czasem na wzur spułgłosek miękkih ń, ś itd. powstaną takie same <strong>ḿ, ṕ, ẃ</strong>, kture znaczńe uproszczą i ujednostajńą pisowńę polską. Naraźe jednak z pszyczyn czysto tehnicznyh i aby ńe wprowadzać zbyt wielkiego haosu ograńiczamy śę jedyńe do tyh znakuw, jakih dostarcza nam alfabet polski. Z hwilą pszełamańa pierwszyh loduw tradycji i pszyzwyczajeń będźe mogła ta reforma pujść dalej i zająć śę uzupełńeńem samego alfabetu.</p>
                        <p>5. <strong>Na miejsce tyh wszystkih zbytecznośći i dźiwactw ortograficznyh wszędźie tam, gdźe słyhać wyraźnie jakiś dźwięk, a w najbliższyh odmianah ńema dźwięku bliźńo innego</strong> (łyżka – łyżek) <strong>ustanawia śę pisowńę śćiśle fonetyczną.</strong> Dlatego odtąd słowo <strong>tszy</strong> pisać będziemy zawsze pszez <strong>sz</strong>, pońeważ dźwięk ten jest w ńim zupełńe wyraźny i ńema uzasadńonego powodu zamieńańa go jakimś innym. Ruwnież pszyrostek <strong>psze, pszed</strong> i wszystkie od ńego pohodne słowa pisać będźemy nadal w ten sposub, pomimo najszczerszyh bowiem hęći ńe możemy śę dopatszyć rużńicy w bżmieńu między słowami <strong>pszeńicować</strong> a <strong>pszeńica</strong>, ktura by nam to pierwsze kazała pisać w jakiś odrębny sposub.</p>
                        <p>6. W pszekonańu że reforma nasza ortografji polskiej oparta na zasadah fonetycznyh jest jedyńe słuszną, uzasadńoną i wygodną – wzywamy wszystkih obywateli polskih do wprowadzańa jej w życie z hwilą ogłoszeńa ńińejszego mańifestu. Zwracamy śę do kierowńikuw szkuł, nauczyćeli ludowyh i gimnazjalnyh, także do Ministerstwa Wyznań Religijnyh i Oświeceńa publicznego z żądańem wprowadzeńa jej niezwłocznego w szkołah elementarnyh, średnih i wyższyh.</p>
                        <p class="text-right">W Sandomierskiem, 25 marca 1921</p>
                        <p class="text-right">Bruno Jaśeński</p>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="manifest-scan">
                    <div id="manifest-scan-spinner">
                        <p class="centerp"><span class="fa fa-spinner fa-spin"></span></p>
                    </div>
                    <p class="centerp">
                        <img id="manifest-scan-img" alt="Bruno Jaśeński - Mańifest w sprawie ortografji fonetycznej"/>
                    </p>
                </div>
            </div>
        </div>
    </article>
    <article class="row" id="dlaczego-nie">
        <h2 class="col-sm-12"><span class="fa fa-comments"></span> Dlaczego nie?</h2>
        <div class="col-sm-6">
            <ul class="fa-ul">
                <li><span class="fa-li fa fa-minus"></span> Futuryści wcale nie są konsekwentni. Nazywają swoją ortografię <em>śćiśle fonetyczną</em>, lecz gdyby naprawdę tak było, pisaliby np. <em>apsurt, sposup i ruwniesz</em>... Innowacje futurystów, mimo pozornie prostszych reguł ortograficznych, jedynie wprowadzają zamieszanie. Spośród czterech głównych zasad ortograficznych
                    (<span class="text-info" data-toggle="tooltip" title="Piszemy tak samo jak czytamy, np: okno, szpilka, dawny...">fonetyczna</span>,
                    <span class="text-info" data-toggle="tooltip" title="Te same morfemy zapisujemy tak samo w różnych formach wyrazu, nawet jeśli brzmią inaczej, np. krzew piszemy przez 'w' choć mówimy 'f', ponieważ w innych formach wymawiamy 'w' dźwięcznie: krzewie, krzewu, krzewy... Futuryści podtrzymują tę zasadę (patrz: punkt 5).">morfologiczna</span>,
                    <span class="text-info" data-toggle="tooltip" title="Piszemy tak, jak to się utrwaliło w trakcie rozwoju języka, jakkolwiek współcześnie wydaje się to bezpodstawne. Futuryści odrzucili tę zasadę m.in. w przypadku 'ó' i 'u', ale jednocześnie pisząc 'absurd' przez 'b', a więc respektując łacińską etymologię tego słowa.">historyczna</span>,
                    <span class="text-info" data-toggle="tooltip" title="W przypadkach, gdy żadna z wcześniejszych reguł nie ma zastosowania, piszemy tak, jak ustalono. Dotyczy to przede wszystkim pisowni łącznej i rozdzielnej, z łącznikiem lub bez niego, wielką i małą literą, a także zapisu skrótów i skrótowców. Manifest Jasińskiego nawet nie dotyka tego tematu.">konwencjonalna</span>) nie pozbyli się żadnej, choć twierdzą co innego.</li>
                <li><span class="fa-li fa fa-minus"></span> </li>
                <li><span class="fa-li fa fa-minus"></span> Dzieciom wprawdzie byłoby łatwiej na dyktandach, ale już wśród dorosłych użytkowników błędy takie jak <em>krul</em>, <em>hżąszcz</em> czy <em>jaszcząb</em> i tak zdarzają się wyjątkowo rzadko. To, co sprawia im największe trudności, nie jest regulowane przez zasadę fonetyczną. Trudno przecież stwierdzić, czy wymawia się coś łącznie czy rozdzielnie, albo czy w wymowie słychać wielkie i małe litery.</li>
                <li><span class="fa-li fa fa-minus"></span> Wiele błędów jest popełnianych nie tylko w piśmie, ale również w mowie. Jeśli więc ktoś mówi <em>wziąść</em> zamiast poprawnego <em>wziąć</em>, to na nic się zdadzą futurystyczne innowacje – wyraz i tak zostanie zapisany błędnie.</li>
                <li><span class="fa-li fa fa-minus"></span> Gdyby futuryści konsekwentnie trzymali się ortografii <em>ściśle fonetycznej</em>, powstałyby takie nonsensy, jak słowa <em>krowa</em> i <em>kruf</em>, wyglądające zupełnie inaczej, mimo iż pochodzą od jednego leksemu i różnią się tylko końcówką fleksyjną. Natomiast nie trzymając się jej – upraszczają na tyle mało, że po prostu nie warto. I&nbsp;tak źle, i&nbsp;tak niedobrze.</li>
                <li><span class="fa-li fa fa-minus"></span> Propozycja futurystów brzmi kusząco, sprawiając wrażenie, że ludzie nie będą musieli pamiętać zapisu słów, lecz wyłącznie ich wymowę, podczas gdy tak naprawdę wciąż trzeba by się było skupiać na zachowaniu poprawności zapisu. Manifest Jasińskiego nie uwzględnia bowiem wielu ważnych zjawisk fonetycznych, jak na przykład <span class="text-info" data-toggle="tooltip" title="Trzeba by było zapisywać np. '99' jako 'dźewjeńdźeśąt dźewjęć' - słowa o tym samym rdzeniu wyglądają tu zupełnie inaczej">uproszenie grup spółgłoskowych</span> czy zróżnicowanie <span class="text-info" data-toggle="tooltip" title="Poprawne byłoby 'kiedy' czy 'kedy'? 'Okno' czy 'łokno'?">gwarowe, dialektowe</span> i wynikające ze <span class="text-info" data-toggle="tooltip" title="'Komfort' czy 'kąfort'? 'Będą' czy 'bendo'?">staranności artykulacji</span>.</li>
                <li><span class="fa-li fa fa-minus"></span> A co jeśli poprawna jest tylko jedna pisownia (np. <em>komizmie</em>), lecz dopuszczalne są dwa sposoby wymawiania (<em>komiźmie</em> oraz <em>komizmie</em>)? Z <em>Mańifestu</em> nie wynika bynajmniej, która wersja powinna być podstawą do ustalenia zapisu.</li>
            </ul>
        </div>
        <div class="col-sm-6">
            <ul class="fa-ul">
                <li><span class="fa-li fa fa-minus"></span> Homonimy powodowałyby więcej nieporozumień. Formy dokonane zupełnie różnych znaczeniowo czasowników <em>rozwozić</em> i <em>rozwodzić</em> brzmią: <em>rozwieść</em> i <em>rozwieźć</em>, a zatem są w wymowie identyczne. Ludzie przyzwyczajeni do pisania wszystkiego tak, jak słyszą, mieszaliby je jeszcze bardziej niż teraz, a słowa stopniowo zlałyby się w jeden zapis. To samo odnosi się do wielu innych par homonimów: <em>zawieźć</em> i <em>zawieść</em>, <em>mieć</em> i <em>miedź</em>, <em>morze</em> i <em>może</em>, <em>język francuski</em> i <em>język Francuzki</em>, <em>pięć dób</em> i <em>pięć dup</em>...</li>
                <li><span class="fa-li fa fa-minus"></span> Chociaż wiele dziedzin życia może być kształtowane zarówno dzięki ewolucji, jak i rewolucji, to w przypadku języka zmiany <em>muszą</em> zachodzić stopniowo i wynikać ze zwyczaju, w przeciwnym razie społeczeństwu trudno jest się do nich przystosować. Zmuszenie Polaków do gwałtownej zmiany przyzwyczajeń nieuchronnie prowadziłoby do chaosu, mnogości błędów i mieszania starego systemu z nowym. Odgórne regulacje, aby były skuteczne i bezbolesne, muszą być wprowadzane stopniowo i ograniczać się do wąskiego zakresu języka.</li>
                <li><span class="fa-li fa fa-minus"></span> Potwierdzam, próbowałem. Przez 24h pisałem po futurystycznemu. Bardzo nie polecam. Przepisywanie <em>Mańifestu</em> ze skanu też nie było przyjemne. Ba, sam Jasieński chyba nie mógł się przestawić, sądząc po tym, ile „błędów” w nim zrobił.</li>
                <li><span class="fa-li fa fa-minus"></span> Niedocenianie wpływu kilkunastu wieków na kształtowanie się polszczyzny prowadzi do banalizacji, spłycenia języka i sprzecznego ze zdrowym rozsądkiem zaprzeczenia jego roli jako nośnika kultury.</li>
                <li><span class="fa-li fa fa-minus"></span> Polska ortografia nie jest, wbrew obiegowej opinii, na tyle skomplikowana, aby wymagała drastycznego uproszczenia. Polskie reguły wydają się być banalne w porównaniu chociażby z językiem angielskim (gdzie np. litera o może być w formach tego samego słowa wymawiana na trzy sposoby: <em>do</em> [wym. du], <em>does</em> [wym. daz], <em>don't</em> [wym. dont]) albo francuskim (gdzie zapis <em>Bordeaux</em> z wymową <em>bordo</em> ma niewiele wspólnego). A przecież francuski przez długi czas sprawdzał się jako <em>lingua franca</em> europejskiej arystokracji, a angielski – współczesnego biznesu i popkultury. Czy zatem uproszczenie polskiej ortografii jest naprawdę tak niezbędne?</li>
            </ul>
        </div>
    </article>

    <footer>
        <ul>
            <li><span class="fa fa-user"></span> Andrzej Prusinowski</li>
            <li><a href="https://avris.it"><span class="fa fa-globe"></span> avris.it</a></li>
            <li><a href="https://mit.avris.it"><span class="fa fa-info-circle"></span> MIT</a></li>
            <li><a href="https://gitlab.com/Avris/Futurus" target="_blank"><span class="fa fa-git"></span> Kod generatora</a></li>
            <li><a href="https://gitlab.com/Avris/Futurus-home" target="_blank"><span class="fa fa-git"></span> Kod strony</a></li>
        </ul>
    </footer>
{% endblock %}