<!DOCTYPE html>
<html lang="{{ app.locale.language }}">
<head>
    <meta charset="utf-8">
    <title>Gdyby uprościć ortografię...</title>
    <meta name="description" content="Któż z nas nigdy nie narzekał, jaka to ortografia jest trudna i niepotrzebna? W 1921 roku futuryści postanowili coś z nią zrobić i stworzyli coś, co uznali za pisownię jedyńe słuszną, uzasadńoną i wygodną. Czemu ich propozycja przeszła bez większego echa? Cóż, zobaczcie jak ortografja fonetyczna działa w praktyce. Na stronie znajduje się generator tekstu w futurystycznej ortografii, pełny tekst Mańifestu w sprawie ortografji fonetycznej oraz parę argumentów przeciw niej" />
    <meta name="keywords" content="futuryści, futuryzm, język, język polski, ortografia, pomysł, uproszczenie, uproszczenie ortografii" />
    <meta name="author" content="Andrzej Prusinowski <andrzej@avris.it>" />
    <meta property="og:image" content="https://futurysci.avris.it{{ asset('assetic/gfx/screen.png') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="{{ asset('assetic/gfx/favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset(assets.css) }}">
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="{{ route('home') }}#" class="navbar-brand">Gdyby uprościć ortografię...</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li><a href="{{ route('home') }}#generator"><span class="fa fa-gears"></span> Generator</a></li>
                <li><a href="{{ route('home') }}#manifest"><span class="fa fa-file-text"></span> Mańifest <span class="hidden-sm">Jaśeńskiego</span></a></li>
                <li><a href="{{ route('home') }}#dlaczego-nie"><span class="fa fa-comments"></span> Dlaczego nie?</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="https://avris.it" target="_blank"><span class="fa fa-globe"></span> Avris.it</a>
                </li>
            </ul>
        </div>
    </div>
</div>


<main class="container">
    {% block content %}{% endblock %}
</main>

<script src="{{ route('micrusjs') }}"></script>
<script src="{{ asset(assets.js) }}"></script>
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//matomo.avris.it/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '11']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
</body>
</html>