{% extends 'layout.html.twig' %}

{% block content %}
    <article class="row">
        <h2>Niestety, nie mogę załadować strony...</h2>
        <p>{{ error }}</p>
    </article>
    <form class="row" action="{{ route('webGenerate') }}" method="get">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="input-group">
                <input type="text" name="url" class="form-control" placeholder="http://" value="{{ url|e }}"/>
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit"><span class="fa fa-globe"></span>  Do dźeła!</button>
                </span>
            </div>
        </div>
    </form>
{% endblock %}