{% extends 'layout.html.twig' %}

{% block content %}
    <article class="row">
        <h2>{{ errorCode == 404 ? 'Strony nie znaleziono...' : 'Wewnętrzny błąd serwera...' }}</h2>
        <p><a href="{{ route('home') }}"><span class="fa fa-home"></span> Powrót na stronę główną</a></p>
    </article>
{% endblock %}