article, .article, footer {
  padding-top: 72px; }
  article p, .article p, footer p {
    text-align: justify; }

footer {
  text-align: center; }
  footer ul {
    font-size: 0.8em;
    display: inline-block;
    list-style-type: none;
    padding: 0; }
    footer ul li {
      position: relative;
      float: left;
      vertical-align: middle; }
      footer ul li:before {
        content: "|";
        margin-left: 10px;
        margin-right: 10px;
        color: #777; }
      footer ul li:first-child:before {
        content: " ";
        margin: 0; }

.alert-info {
  background-color: #989fd1; }

textarea.form-control {
  min-width: 100%;
  max-width: 100%;
  height: 300px; }

@media(min-width: 768px) {
  #generator .buttons {
    height: 300px; }
    #generator .buttons .vertical-center {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); } }
.disabled > a {
  cursor: default !important; }

.tab-pane {
  padding-top: 24px; }

#generator {
  position: relative; }
  #generator #generator-spinner {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(1, 1, 1, 0.05);
    text-align: center;
    padding-top: 64px;
    font-size: 3em; }

#manifest-scan-spinner {
  font-size: 3em; }

#manifest-scan-img {
  width: 100%;
  max-width: 600px; }

.centerp {
  text-align: center; }

p.lead {
  margin-bottom: -24px; }

ul.fa-ul li {
  text-align: justify;
  margin-bottom: 12px; }

[data-toggle="tooltip"] {
  text-decoration: underline;
  cursor: pointer; }

.pT {
  padding-top: 48px; }

.mT {
  margin-top: 48px; }

/*# sourceMappingURL=main.css.map */
